body,
body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: #618685;

    z-index: 100;
}

#logo,
header nav{
    display: inline-block;

    width: 49%;
    height: 100%;
}

header nav a{
    display: block;

    width: 100px;
    height: 100%;
}

header nav button{
    position: absolute;

    width: 60px;
    height: 60px;

    top: 0;
    right: 0;

    background-color: #e3e0cc;
}
/*Homework: I added display, justify-content and align-items*/
div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.first {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

div.first ~ div{
    border-left: 10px solid lightcoral;
}

div.first.most-inner{
    border-radius: 50%;
}

div.first.most-inner::before{
    content: "A";
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    background-color: rgb(63, 153, 63);
}

div.first.most-inner::after{
    content: "B";
}

div.first.most-inner:hover{
    background-color: rgb(137, 31, 137);
}

body > div.first,
div.first.most-inner{
    border-bottom: 10px solid white;
}

body > div{
   height: 100vh;
   width: 100vh;
   background-color: #fefbd8;
}

body > div > div{
    height: 90vh;
    width: 90vh;
    background-color: #80ced6; 
}

body > div > div > div{
    height: 80vh;
    width: 80vh;
    background-color: #d5f4e6; 
}

body > div > div > div > div{
    height: 70vh;
    width: 70vh;
    background-color: #618685; 
}

body > div > div > div > div > div{
    height: 60vh;
    width: 60vh;
    background-color: #c5d5c5; 
}

body > div > div > div > div > div > div{
    height: 50vh;
    width: 50vh;
    background-color: #9fa9a3; 
}

body > div > div > div > div > div > div > div{
    height: 40vh;
    width: 40vh;
    background-color: #e3e0cc; 
}

body > div > div > div > div > div > div > div > div{
    height: 30vh;
    width: 30vh;
    background-color: #b9b0b0; 
}

body > div > div > div > div > div > div > div > div > div{
    height: 20vh;
    width: 20vh;
    background-color: #eaece5; 
}

body > div > div > div > div > div > div > div > div > div > div{
    height: 10vh;
    width: 10vh;
    background-color: #d9ecd0; 
}